García Girón, Alejandro

ETL//Examen Final
MDS / CUNEF

COMENTARIOS INICIALES

La base de datos parseada manualmente (linea9,,,, 519, 540, 869, 1121, 1124, 1456, 1729, 1753, 1785, 1801, 1841, 1842, 2231, 2262, 2383, 2394, 2457,  sin_rvst y linea23 ,,,, 2238  sin_grj) la use en otro notebook de ensayo donde el parseado solo consistió en aplicar seaparador.

En este notebook no consigo fijar las funciones donde se reemplacen los huecos. (están definidas)

el parseado consistió en un split por coma y una trata de los valores de las columnas 0, 9 y 23.
los valores con la base parseada con notepad++ difieren en muy poco de la original.

La trata de duplicados no se habria llevado ya que son pocos (6), en la base parseada a mano sí se hizo. ya que se vio en excel y se manipuló en notepad++

el proceso ha sido llevado a cabo en Google Collaborate.

Preparamos el entorno

In [296]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

In [297]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

In [298]:
import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Inicializar y cargar el contexto spark

In [299]:
#Carga de datos

casa = sc.textFile('bd_etl.csv')

In [300]:
#Comprobación de carga óptima de datos

casa.count()

2937

In [301]:
#Parseado de los datos y limpieza
#Separamos las bases de datos por p y  comas ';'

casa_alfa = casa.map(lambda x :x.split(";"))
casa_alfa.take(3)

[['Order',
  'MS Zoning',
  'Lot Frontage',
  'Lot Area',
  'Land Contour',
  'Land Slope',
  'Overall Qual',
  'Year Built',
  'Year Remod/Add',
  'Mas Vnr Type',
  'Exter Qual',
  'Bsmt Cond',
  'Total Bsmt SF',
  'Heating QC',
  'Central Air',
  'Full Bath',
  'Half Bath',
  'Bedroom AbvGr',
  'Kitchen AbvGr',
  'Kitchen Qual',
  'TotRms AbvGrd',
  'Garage Cars',
  'Garage Area',
  'Garage Cond',
  'Pool Area',
  'Pool QC',
  'Mo Sold',
  'Yr Sold',
  'SalePrice'],
 ['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000'],
 ['2',
  'RH',
  '80',
  '11622',
  'Lvl',
  'Gtl',
  '5',
  '1961',
  '1961',
  'None',
  'TA',
  'TA',
  '882',
  'TA',
  'Y',
  '1',
  '0',
  '2',
  '1',
  'TA',
  '5',
  '1',
  '730',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '105000']]

In [302]:
#Recuento de los datos

casa_alfa.count()

2937

In [303]:
#eliminamos encabezado que nos está dando problemas 
#cuando conteamos los valores de cada rdd se suma uno distinto que es el nombre de la variable
#por eso, la suprimimos.

encab = casa_alfa.first()
casa_alfa = casa_alfa.filter(lambda x : x != encab) 

#comprobamos, efectivamente:

casa_alfa.take(2)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000'],
 ['2',
  'RH',
  '80',
  '11622',
  'Lvl',
  'Gtl',
  '5',
  '1961',
  '1961',
  'None',
  'TA',
  'TA',
  '882',
  'TA',
  'Y',
  '1',
  '0',
  '2',
  '1',
  'TA',
  '5',
  '1',
  '730',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '105000']]

In [304]:
#comenzamos el parseado 
#trata de valores anómalos en columnas categóricas, col 1, 9 y 23

casa_alfa.map(lambda x: x[1]).distinct().collect()

['RL', 'RH', 'C', 'Rl', 'FV', 'RM', 'I', 'A', 'rL']

In [305]:
def ParseaditoBombaAtomica (x):
    if x == 'Rl':
        xn = 'RL'
    elif x == 'rL':
        xn='RL'
    else:
        xn = x
    return (xn)

#esta función nos permite integrar los valores Rl y rL en el conjunto RL

In [306]:
casa_alfa.map(lambda x: ParseaditoBombaAtomica(x[1])).distinct().collect()

#Se comprueba que así sea y vemos que los datos Rl y rL se integran en RL

['RL', 'RH', 'C', 'FV', 'RM', 'I', 'A']

In [307]:
casa_alfa.map(lambda x: x [9]).distinct().collect()

#Analizamos la columna 9 que detectamos valores vacios

['None', '', 'CBlock', 'Stone', 'BrkFace', 'BrkCmn']

In [308]:
def ParseaditoBombaAtomica1 (x):
    if x == '':
        xn = 'sin_rvst'
    
    else:
        xn = x
    return (xn)

  #Creamos una función que a sustituya los huecos vacios

In [309]:
casa_alfa.map(lambda x: ParseaditoBombaAtomica1(x[9])).distinct().collect()

#Denominamos los huecos vacios como 'sin_rvst'

['None', 'sin_rvst', 'CBlock', 'Stone', 'BrkFace', 'BrkCmn']

In [310]:
#Analizamos la columna 23 que también tiene espacios vacios

casa_alfa.map(lambda x: x[23]).distinct().collect()

['Fa', 'Po', '', 'TA', 'Sg', 'Gd', 'Ex']

In [311]:
def ParseaditoBombaAtomica2 (x):
    if x == '':
        xn = 'sin_grj'
    
    else:
        xn = x
    return (xn)

 #Creamos una función que a sustituya los huecos vacios por 'sin_grj'

In [312]:
casa_alfa.map(lambda x: ParseaditoBombaAtomica2(x[23])).distinct().collect()

#Denominamos los huecos vacios como 'sin_grj'

['Fa', 'Po', 'sin_grj', 'TA', 'Sg', 'Gd', 'Ex']

Cuántas viviendas distintas encontramos en el dataset? ¿Se repite alguna? Tiene sentido que haya duplicadas? ¿Qué podemos hacer con las duplicadas?

In [313]:
print('Cuántas viviendas distintas encontramos en el dataset?.', 
casa_alfa.map(lambda x: x[0]).count(),
'¿Se repite alguna?',
casa_alfa.map(lambda x: x[0]).distinct().count(),
'hay 6, repetidas. ¿Tiene sentido que haya duplicadas? no tiene', 
'pero debido a algun error en  la recopilación hay 6 filas que se repiten. ¿Qué podemos hacer con las duplicadas? En este caso, eliminanrlas.')

Cuántas viviendas distintas encontramos en el dataset?. 2936 ¿Se repite alguna? 2930 hay 6, repetidas. ¿Tiene sentido que haya duplicadas? no tiene pero debido a algun error en  la recopilación hay 6 filas que se repiten. ¿Qué podemos hacer con las duplicadas? En este caso, eliminanrlas.

## ¿Podrías decirme el total de inmuebles y el precio medio (Sale Price) de cada zona (MS Zoning)?

In [314]:
zonaRL = casa_alfa.filter(lambda x: x[1] == 'RL')
zonaRM = casa_alfa.filter(lambda x: x[1] == 'RM')
zonaRH = casa_alfa.filter(lambda x: x[1] == 'RH')

In [315]:
#zona x[1], vamos a usar 3 zonas solo. de acuerdo con el enunciado
#precio x[28]

inmb_precio_RL = casa_alfa.filter(lambda x: x[1] == 'RL').map(lambda x: (x[0], x[28])) 
inmb_precio_RM = casa_alfa.filter(lambda x: x[1] == 'RM').map(lambda x: (x[0], x[28])) 
inmb_precio_RH = casa_alfa.filter(lambda x: x[1] == 'RH').map(lambda x: (x[0], x[28])) 

#Contamos los inmuebles de cada clase
inmb_precio_RL.count() + inmb_precio_RM.count() +inmb_precio_RH.count()

2760

In [316]:
inmb_precio_RL.count()

2271

In [317]:
#funcion que pasa a float, ya que los numeros es necesario que esten en este formato para operar
def tofloat(x):
        if x in ["", " ","nan","NULL"]: 
            return 0.0
        else:
            return float(x)

In [318]:
print('El precio medio de la zona RL es,', inmb_precio_RL.map(lambda x: tofloat(x[1])).mean(), 'Dólares')

El precio medio de la zona RL es, 191131.80581241753 Dólares

In [319]:
print('El precio medio de la zona RM es,',inmb_precio_RM.map(lambda x: tofloat(x[1])).mean() , 'Dólares')

El precio medio de la zona RM es, 126781.39393939397 Dólares

In [320]:
print('El precio medio de la zona RH es,',inmb_precio_RH.map(lambda x: tofloat(x[1])).mean() , 'Dólares')

El precio medio de la zona RH es, 136419.77777777778 Dólares

##Media de Total Bsmt SF por cada década de construcción calculada a partir de Year Built.

In [321]:
casa_alfa.map(lambda x: x[7]).distinct().collect()

#el primer registro es de 1872, por lo que trabajaremos con 15 decadas

['1995',
 '1993',
 '1990',
 '2003',
 '2010',
 '1951',
 '1978',
 '1977',
 '1970',
 '2007',
 '2004',
 '2002',
 '1994',
 '1980',
 '1979',
 '1920',
 '1962',
 '1964',
 '1949',
 '1940',
 '1954',
 '1957',
 '1956',
 '1948',
 '1927',
 '1938',
 '1928',
 '1890',
 '1925',
 '1939',
 '1936',
 '1921',
 '1907',
 '1969',
 '1947',
 '1941',
 '1896',
 '1991',
 '1981',
 '1880',
 '1937',
 '1934',
 '1982',
 '1983',
 '1918',
 '1872',
 '1911',
 '1879',
 '1901',
 '1913',
 '1960',
 '1961',
 '1958',
 '1968',
 '1997',
 '1998',
 '2001',
 '1992',
 '1999',
 '1985',
 '1988',
 '1974',
 '2000',
 '1971',
 '1975',
 '2009',
 '2005',
 '2006',
 '1996',
 '2008',
 '1984',
 '1965',
 '1967',
 '1963',
 '1976',
 '1972',
 '1966',
 '1959',
 '1950',
 '1952',
 '1955',
 '1953',
 '1900',
 '1910',
 '1915',
 '1945',
 '1929',
 '1923',
 '1885',
 '1922',
 '1942',
 '1930',
 '1912',
 '1917',
 '1875',
 '1946',
 '1987',
 '1924',
 '1914',
 '1931',
 '1919',
 '1989',
 '1973',
 '1986',
 '1916',
 '1926',
 '1935',
 '1892',
 '1898',
 '1882',
 '1902',
 '1932',
 '1904',
 '1905',
 '1893',
 '1906',
 '1908',
 '1895']

In [322]:
decada1 = casa_alfa.filter(lambda x: x[7] < '1880').map(lambda x: (x[0], x[7], x[12], x[13]))
decada1.collect()
print('Para la década de 1870 los pies cuadrados promedio del sótano son', decada1.map(lambda x: tofloat(x[2])).mean())

Para la década de 1870 los pies cuadrados promedio del sótano son 761.0

In [323]:
decada2 = casa_alfa.filter(lambda x:'1880'<= x[7] < '1890').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1880 los pies cuadrados promedio del sótano son', decada2.map(lambda x: tofloat(x[2])).mean())

Para la década de 1880 los pies cuadrados promedio del sótano son 836.0

In [324]:
decada3 = casa_alfa.filter(lambda x:'1890'<= x[7] < '1900').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1890 los pies cuadrados promedio del sótano son', decada3.map(lambda x: tofloat(x[2])).mean())

Para la década de 1890 los pies cuadrados promedio del sótano son 834.2

In [241]:
decada4 = casa_alfa.filter(lambda x:'1900'<= x[7] < '1910').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1900 los pies cuadrados promedio del sótano son', decada4.map(lambda x: tofloat(x[2])).mean())

Para la década de 1900 los pies cuadrados promedio del sótano son 710.55

In [242]:
decada5 = casa_alfa.filter(lambda x:'1910'<= x[7] < '1920').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1910 los pies cuadrados promedio del sótano son', decada5.map(lambda x: tofloat(x[2])).mean())

Para la década de 1910 los pies cuadrados promedio del sótano son 778.5272727272727

In [243]:
decada5 = casa_alfa.filter(lambda x:'1920'<= x[7] < '1930').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1920 los pies cuadrados promedio del sótano son', decada5.map(lambda x: tofloat(x[2])).mean())

Para la década de 1920 los pies cuadrados promedio del sótano son 828.1428571428571

In [244]:
decada6 = casa_alfa.filter(lambda x:'1930'<= x[7] < '1940').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1930 los pies cuadrados promedio del sótano son', decada5.map(lambda x: tofloat(x[2])).mean())

Para la década de 1930 los pies cuadrados promedio del sótano son 828.1428571428571

In [245]:
decada7 = casa_alfa.filter(lambda x:'1940'<= x[7] < '1950').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1940 los pies cuadrados promedio del sótano son', decada7.map(lambda x: tofloat(x[2])).mean())

Para la década de 1940 los pies cuadrados promedio del sótano son 700.7417218543046

In [246]:
decada8 = casa_alfa.filter(lambda x:'1950'<= x[7] < '1960').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1950 los pies cuadrados promedio del sótano son', decada8.map(lambda x: tofloat(x[2])).mean())

Para la década de 1950 los pies cuadrados promedio del sótano son 960.7411764705882

In [247]:
decada9 = casa_alfa.filter(lambda x:'1960'<= x[7] < '1970').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1960 los pies cuadrados promedio del sótano son', decada9.map(lambda x: tofloat(x[2])).mean())

Para la década de 1960 los pies cuadrados promedio del sótano son 1082.6722689075627

In [248]:
decada10 = casa_alfa.filter(lambda x:'1970'<= x[7] < '1980').map(lambda x: (x[0], x[7], x[12], x[13], x[13]))
print('Para la década de 1970 los pies cuadrados promedio del sótano son', decada10.map(lambda x: tofloat(x[2])).mean())

Para la década de 1970 los pies cuadrados promedio del sótano son 953.9178082191784

In [249]:
decada11 = casa_alfa.filter(lambda x:'1980'<= x[7] < '1990').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1980 los pies cuadrados promedio del sótano son', decada11.map(lambda x: tofloat(x[2])).mean())

Para la década de 1980 los pies cuadrados promedio del sótano son 1086.0000000000002

In [250]:
decada12 = casa_alfa.filter(lambda x:'1990'<= x[7] < '2000').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década de 1990 los pies cuadrados promedio del sótano son', decada12.map(lambda x: tofloat(x[2])).mean())

Para la década de 1990 los pies cuadrados promedio del sótano son 1124.0863095238103

In [251]:
decada13 = casa_alfa.filter(lambda x:'2000'<= x[7] < '2010').map(lambda x: (x[0], x[7], x[12], x[13]))
print('Para la década del 2000 los pies cuadrados promedio del sótano son', decada13.map(lambda x: tofloat(x[2])).mean())

Para la década del 2000 los pies cuadrados promedio del sótano son 1311.3997445721573

## ¿Cuál es la decada de construcción con viviendas mejor acondicionadas para el frío (Heating QC)?

In [325]:
#Apliamos un filtro por Ex y conteamos

acond1 = decada1.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond2= decada2.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond3 = decada3.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond4 = decada4.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond5 = decada5.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond6 = decada6.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond7 = decada7.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond8 = decada8.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond9 = decada9.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond10 = decada10.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond11 = decada11.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond12 = decada12.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))
acond13 = decada13.filter(lambda x: x[3] == 'Ex').map(lambda x: (x[0], x[3]))

In [326]:
print(
acond1.count(), 
acond2.count(), 
acond3.count(), 
acond4.count(), 
acond5.count(), 
acond6.count(), 
acond7.count(), 
acond8.count(), 
acond9.count(), 
acond10.count(), 
acond11.count(), 
acond12.count(), 
acond13.count(), 'visto el número de viviendas con calefacción excelente la mejor década en cifras absolutas es la última' )

0 2 5 13 52 41 56 98 88 68 28 251 755 visto el número de viviendas con calefacción excelente la mejor década en cifras absolutas es la última

## ¿Cuáles son las 10 viviendas que se vendieron por un precio más elevado por metro cuadrado en el año 2009?

In [327]:
#Aplicar Reduce By Key nos hace ahorrar código vemos que en otras celdas no se ha aplicado


año2009 = casa_alfa.filter(lambda x: x[27] == '2009').map(lambda x: (x[0], (tofloat(x[28])/tofloat(x[3])))).reduceByKey(lambda a,b:a + b)
año2009.collect()

[('342', 9.571033210332104),
 ('344', 24.89177489177489),
 ('345', 18.61675999607034),
 ('346', 22.89687924016282),
 ('347', 22.5),
 ('348', 25.34918076819769),
 ('351', 49.0819209039548),
 ('353', 29.88893048795707),
 ('354', 19.892412865628152),
 ('356', 25.466666666666665),
 ('359', 20.597069180961036),
 ('361', 18.47239518472395),
 ('365', 15.23078221247152),
 ('370', 15.546218487394958),
 ('372', 10.62019597488705),
 ('375', 11.622641509433961),
 ('376', 18.301610541727673),
 ('378', 13.28374070138151),
 ('380', 28.958333333333332),
 ('383', 19.167313664596275),
 ('385', 32.912918540729635),
 ('386', 29.333333333333332),
 ('387', 27.744982290436838),
 ('389', 16.558185404339252),
 ('390', 14.298642533936652),
 ('408', 71.13095238095238),
 ('410', 63.258232235701904),
 ('411', 65.13157894736842),
 ('412', 53.94736842105263),
 ('413', 63.69150779896014),
 ('414', 58.70583226905066),
 ('417', 58.3756345177665),
 ('419', 13.986013986013987),
 ('422', 32.40513431998317),
 ('426', 18.011243851018975),
 ('429', 29.625044216483904),
 ('433', 44.548309355144966),
 ('435', 31.09345310070824),
 ('440', 28.662287561255344),
 ('441', 27.59381898454746),
 ('442', 23.975136895071778),
 ('445', 26.65415297982168),
 ('446', 20.927162602888647),
 ('447', 24.438738077769624),
 ('449', 29.134476888830694),
 ('451', 26.496168979084697),
 ('452', 30.85168018539977),
 ('453', 36.42445642073964),
 ('456', 45.99080183963208),
 ('457', 37.20679428417363),
 ('458', 25.062246101428386),
 ('461', 17.08407871198569),
 ('464', 76.27865961199295),
 ('465', 16.837481698389457),
 ('467', 13.82159027722615),
 ('468', 14.608345227101),
 ('469', 47.23127035830619),
 ('470', 48.39064649243466),
 ('473', 56.56819610307982),
 ('474', 50.345694531741046),
 ('477', 18.019927920288318),
 ('478', 23.73496993987976),
 ('481', 21.416620189626325),
 ('483', 40.98360655737705),
 ('485', 19.97517647971453),
 ('486', 19.960732984293195),
 ('488', 22.03619352455989),
 ('490', 20.129032258064516),
 ('492', 7.333279312859574),
 ('495', 35.73700954400849),
 ('496', 26.621746597965384),
 ('499', 27.53421289846759),
 ('501', 29.302325581395348),
 ('502', 26.262626262626263),
 ('503', 28.618602091359385),
 ('504', 22.54105371193979),
 ('505', 8.628646246968168),
 ('506', 8.277979905871357),
 ('508', 24.566732177952474),
 ('509', 25.230256711738193),
 ('512', 26.808184702921544),
 ('513', 26.149870801033593),
 ('514', 42.05607476635514),
 ('515', 29.24513888888889),
 ('517', 26.494530653777666),
 ('519', 26.557407407407407),
 ('520', 26.59722222222222),
 ('522', 40.369870469141176),
 ('526', 23.83204085492718),
 ('530', 28.053333333333335),
 ('536', 19.133333333333333),
 ('537', 18.15957847196086),
 ('538', 20.01774972882359),
 ('539', 18.33779629078647),
 ('540', 12.163402692778458),
 ('541', 10.862913096695227),
 ('542', 12.289156626506024),
 ('545', 23.376387120247408),
 ('548', 11.150343802267237),
 ('552', 19.393939393939394),
 ('553', 9.761904761904763),
 ('557', 16.59018708083304),
 ('560', 16.557566422795535),
 ('562', 7.5332689288733246),
 ('564', 17.54274049502424),
 ('566', 97.48263888888889),
 ('570', 46.24140384159355),
 ('571', 53.40557275541796),
 ('572', 60.04002668445631),
 ('579', 15.01351216094485),
 ('580', 13.162393162393162),
 ('581', 15.789024494324487),
 ('582', 20.287243337702055),
 ('583', 19.264110961279137),
 ('584', 16.17970468111844),
 ('585', 12.523191094619666),
 ('586', 24.701923076923077),
 ('588', 16.979166666666668),
 ('590', 16.698126905764482),
 ('595', 14.895833333333334),
 ('596', 12.912087912087912),
 ('598', 10.454545454545455),
 ('600', 19.029047875201723),
 ('602', 14.010989010989011),
 ('603', 14.814814814814815),
 ('608', 13.81904761904762),
 ('610', 19.788182831661093),
 ('611', 13.063249276560562),
 ('612', 12.96875),
 ('616', 15.680684248039915),
 ('621', 14.583333333333334),
 ('623', 13.864042933810376),
 ('628', 14.884615384615385),
 ('629', 8.112094395280236),
 ('630', 8.38328138735715),
 ('631', 17.123287671232877),
 ('633', 14.326414326414326),
 ('634', 16.17965367965368),
 ('635', 14.479166666666666),
 ('637', 13.714285714285714),
 ('640', 9.12106135986733),
 ('641', 17.932489451476794),
 ('642', 14.237502636574563),
 ('643', 16.117125984251967),
 ('644', 11.56667293586609),
 ('645', 9.640397857689365),
 ('648', 13.325471698113208),
 ('649', 19.079464988198268),
 ('654', 16.5),
 ('656', 12.968299711815561),
 ('657', 13.796296296296296),
 ('658', 13.994598575988215),
 ('659', 12.136998448237641),
 ('660', 12.218963831867057),
 ('662', 21.73611111111111),
 ('664', 19.444444444444443),
 ('667', 19.64636542239686),
 ('668', 15.18288474810214),
 ('671', 17.915106117353307),
 ('674', 8.948863636363637),
 ('675', 12.61111111111111),
 ('676', 10.951910408432148),
 ('677', 10.87312734082397),
 ('679', 12.5),
 ('682', 18.386243386243386),
 ('683', 16.51388888888889),
 ('685', 16.70659437649729),
 ('690', 16.003024193548388),
 ('691', 16.59090909090909),
 ('694', 31.59313725490196),
 ('695', 10.041719219947609),
 ('697', 8.301404853128991),
 ('698', 13.030303030303031),
 ('699', 23.415547923821418),
 ('700', 16.28787878787879),
 ('703', 39.96447602131439),
 ('705', 15.5),
 ('707', 15.5),
 ('712', 11.678403755868544),
 ('715', 31.428571428571427),
 ('716', 13.08641975308642),
 ('717', 22.733247863247865),
 ('718', 19.047619047619047),
 ('720', 9.50710203157716),
 ('721', 17.727272727272727),
 ('722', 15.88888888888889),
 ('723', 11.805555555555555),
 ('724', 14.160997732426305),
 ('725', 22.037037037037038),
 ('727', 4.429496128950374),
 ('733', 13.666139597921843),
 ('736', 19.5),
 ('737', 22.083333333333332),
 ('738', 15.5),
 ('742', 21.73202614379085),
 ('743', 9.803921568627452),
 ('744', 17.15686274509804),
 ('745', 18.790849673202615),
 ('747', 14.64968152866242),
 ('752', 18.120467365028205),
 ('756', 16.506410256410255),
 ('757', 21.2987012987013),
 ('760', 13.565891472868216),
 ('762', 20.735981308411215),
 ('763', 16.574074074074073),
 ('767', 15.62829989440338),
 ('770', 15.766787658802178),
 ('771', 15.42381974248927),
 ('772', 9.763440860215054),
 ('778', 10.714285714285714),
 ('779', 9.665621734587251),
 ('780', 10.587782340862423),
 ('782', 14.355555555555556),
 ('783', 5.698346284120342),
 ('786', 17.743742995890923),
 ('787', 10.2046783625731),
 ('790', 12.694598265593982),
 ('791', 6.268937415108139),
 ('792', 16.513368983957218),
 ('796', 32.93978748524203),
 ('797', 11.482163204487685),
 ('799', 11.889035667107),
 ('801', 8.127759023630226),
 ('802', 25.683459073578323),
 ('805', 22.71780303030303),
 ('806', 24.36914936914937),
 ('812', 16.936164149330292),
 ('813', 20.369478483898547),
 ('814', 21.068892045454547),
 ('815', 16.22977022977023),
 ('816', 22.733024040489244),
 ('819', 29.56754779109119),
 ('820', 27.921406411582215),
 ('823', 26.13859228590107),
 ('824', 19.68613613148853),
 ('825', 23.857468044125373),
 ('829', 21.48392096086788),
 ('830', 26.592835657642876),
 ('831', 20.352082438814943),
 ('833', 21.484375),
 ('834', 13.983710624026829),
 ('835', 6.446442260784724),
 ('839', 19.874378925658572),
 ('840', 14.031044533315258),
 ('846', 22.857142857142858),
 ('849', 18.51851851851852),
 ('852', 18.00107469102633),
 ('853', 14.709371293001187),
 ('854', 8.605323006945724),
 ('857', 19.5),
 ('862', 15.748963883955003),
 ('868', 22.688307235112585),
 ('873', 24.0),
 ('875', 21.82857142857143),
 ('880', 28.745098039215687),
 ('881', 20.401589176420057),
 ('883', 20.097301054094753),
 ('885', 12.304887774866128),
 ('886', 16.805877025259132),
 ('887', 11.265067027148811),
 ('889', 20.062893081761008),
 ('894', 12.546517809675704),
 ('897', 11.659726353361094),
 ('898', 24.60591133004926),
 ('900', 10.973823906278602),
 ('901', 8.795784821959717),
 ('902', 12.547613712749271),
 ('912', 17.298821117375706),
 ('914', 22.273537514179225),
 ('915', 21.52777777777778),
 ('920', 14.985380116959064),
 ('922', 16.666666666666668),
 ('924', 12.238023952095809),
 ('925', 20.16664496810311),
 ('927', 15.912087912087912),
 ('929', 14.468850738436165),
 ('930', 10.128205128205128),
 ('932', 12.8),
 ('933', 66.35891517599538),
 ('934', 92.06989247311827),
 ('935', 75.06203473945409),
 ('936', 95.38461538461539),
 ('939', 10.232772528232312),
 ('942', 12.18369259606373),
 ('943', 10.035419126328216),
 ('945', 59.84907624251886),
 ('947', 24.790123456790123),
 ('948', 18.693339572609577),
 ('949', 19.805248390823568),
 ('950', 17.609959865672863),
 ('953', 12.444444444444445),
 ('956', 9.565217391304348),
 ('957', 1.7422007479848545),
 ('959', 17.06056691237936),
 ('960', 30.510492632832268),
 ('962', 22.521008403361346),
 ('966', 32.102728731942214),
 ('970', 11.143952708100336),
 ('971', 5.287356321839081),
 ('972', 36.0),
 ('973', 36.666666666666664),
 ('975', 13.187259078920674),
 ('978', 54.16384563303995),
 ('979', 63.27462491846053),
 ('980', 39.69327920613441),
 ('982', 17.032182714767714),
 ('986', 10.131066241586964),
 ('987', 12.465241154473103),
 ('343', 15.392156862745098),
 ('349', 19.753810082063307),
 ('350', 51.39802631578947),
 ('352', 32.520325203252035),
 ('355', 18.242776846464846),
 ('357', 22.712772744672705),
 ('358', 18.94521249359959),
 ('360', 22.896551724137932),
 ('362', 21.415384615384614),
 ('363', 18.70674740484429),
 ('364', 20.90689462925107),
 ('366', 32.24974200206398),
 ('367', 28.80313378867015),
 ('368', 31.450523471800068),
 ('369', 16.091100383710856),
 ('371', 19.992310649750095),
 ('373', 6.932773109243698),
 ('374', 12.924556657649534),
 ('377', 20.100096867936713),
 ('379', 16.594516594516595),
 ('381', 13.215488215488216),
 ('382', 14.615384615384615),
 ('384', 34.41428571428571),
 ('388', 22.724847967566415),
 ('391', 16.272189349112427),
 ('392', 15.122511485451762),
 ('393', 15.11111111111111),
 ('394', 16.97142857142857),
 ('395', 19.672131147540984),
 ('396', 16.347381864623244),
 ('397', 16.803760282021152),
 ('398', 10.869565217391305),
 ('399', 17.313218390804597),
 ('400', 15.332512315270936),
 ('401', 9.238095238095237),
 ('402', 14.444444444444445),
 ('403', 66.07142857142857),
 ('404', 52.78716216216216),
 ('405', 66.66666666666667),
 ('406', 57.73809523809524),
 ('407', 70.23809523809524),
 ('409', 29.1700487012987),
 ('415', 62.18274111675127),
 ('416', 64.87549148099608),
 ('418', 61.07414448669201),
 ('420', 13.893557422969188),
 ('421', 27.095375722543352),
 ('423', 35.87808847462642),
 ('424', 35.96656081913032),
 ('425', 24.671676914901692),
 ('427', 19.938051007556677),
 ('428', 32.2914979757085),
 ('430', 32.71255060728745),
 ('431', 32.96734860883797),
 ('432', 33.532423208191126),
 ('434', 41.96479735080268),
 ('436', 17.545939537640784),
 ('437', 17.590009869973823),
 ('438', 22.92302171182487),
 ('439', 32.31407350245973),
 ('443', 39.61965134706814),
 ('444', 24.643548671008624),
 ('448', 28.670576009501186),
 ('450', 21.866988387875132),
 ('454', 36.0210855134713),
 ('455', 20.61705636945765),
 ('459', 43.301759133964815),
 ('460', 38.396168108776266),
 ('462', 40.705128205128204),
 ('463', 49.71264367816092),
 ('466', 18.815877999551468),
 ('471', 60.49654305468259),
 ('472', 56.882463859208045),
 ('475', 24.18216805644644),
 ('476', 24.789291026276647),
 ('479', 23.75483870967742),
 ('480', 19.308641975308642),
 ('482', 21.77636408123318),
 ('484', 26.833428084138717),
 ('487', 17.156359153482637),
 ('489', 22.530534803747184),
 ('491', 15.412682435832913),
 ('493', 24.44317532838378),
 ('494', 21.406727828746178),
 ('497', 25.70754716981132),
 ('498', 20.550015110305228),
 ('500', 25.96003134796238),
 ('507', 25.44735746982938),
 ('510', 30.99654502267329),
 ('511', 27.1964461994077),
 ('516', 23.333333333333332),
 ('518', 28.149630927061178),
 ('521', 19.831826114548626),
 ('523', 31.8),
 ('524', 28.174134327001727),
 ('525', 25.464491181741018),
 ('527', 29.661538461538463),
 ('528', 32.55384615384615),
 ('529', 27.388235294117646),
 ('531', 24.666666666666668),
 ('532', 26.84294871794872),
 ('533', 25.716746646979207),
 ('534', 16.55387818844352),
 ('535', 20.266666666666666),
 ('543', 30.600846069868997),
 ('544', 19.143752175426382),
 ('546', 22.159690467815686),
 ('547', 22.264052966376735),
 ('549', 20.209059233449477),
 ('550', 20.19980239323746),
 ('551', 15.767957952112127),
 ('554', 8.444444444444445),
 ('555', 11.282051282051283),
 ('556', 19.110985277463193),
 ('558', 13.437603260270954),
 ('559', 13.321167883211679),
 ('561', 13.14),
 ('563', 17.202797202797203),
 ('565', 19.666917733701563),
 ('567', 41.6350291065553),
 ('568', 57.911),
 ('569', 57.96344647519582),
 ('573', 41.40127388535032),
 ('574', 65.21739130434783),
 ('575', 21.692527562270314),
 ('576', 55.922792173453196),
 ('577', 15.671012518648245),
 ('578', 18.802083333333332),
 ('587', 11.073806725980639),
 ('589', 12.555555555555555),
 ('591', 17.39896373056995),
 ('592', 21.030571992110453),
 ('593', 27.023809523809526),
 ('594', 18.2328190743338),
 ('597', 17.552083333333332),
 ('599', 16.496424923391217),
 ('601', 14.523076923076923),
 ('604', 13.162282326787698),
 ('605', 9.586056644880175),
 ('606', 16.69332267093163),
 ('607', 16.363636363636363),
 ('609', 14.0),
 ('613', 15.206971677559913),
 ('614', 12.489762489762489),
 ('615', 15.47842401500938),
 ('617', 12.294407894736842),
 ('618', 17.67676767676768),
 ('619', 17.395833333333332),
 ('620', 13.427083333333334),
 ('622', 15.3125),
 ('624', 17.733850373593114),
 ('625', 16.736842105263158),
 ('626', 17.420891459680163),
 ('627', 15.073529411764707),
 ('632', 18.63095238095238),
 ('636', 12.5),
 ('638', 17.485714285714284),
 ('639', 13.846153846153847),
 ('646', 11.02165995783017),
 ('647', 11.32632735764819),
 ('650', 10.794083709220603),
 ('651', 8.949599623174752),
 ('652', 13.354934757859708),
 ('653', 13.53125),
 ('655', 18.26325411334552),
 ('661', 13.72718539865514),
 ('663', 10.925925925925926),
 ('665', 9.814814814814815),
 ('666', 7.268518518518518),
 ('669', 14.173913043478262),
 ('670', 17.1777033410633),
 ('672', 12.913717237421082),
 ('673', 17.56198347107438),
 ('678', 15.935019841269842),
 ('680', 19.166666666666668),
 ('681', 17.41496598639456),
 ('684', 17.25),
 ('686', 12.36111111111111),
 ('687', 16.741071428571427),
 ('688', 19.121532364597094),
 ('689', 16.852626685262667),
 ('692', 29.11392405063291),
 ('693', 10.53639846743295),
 ('696', 11.625874125874127),
 ('701', 12.396748393863904),
 ('702', 16.390205371248026),
 ('704', 10.163805012828103),
 ('706', 21.583333333333332),
 ('708', 10.804970286331713),
 ('709', 7.594936708860759),
 ('710', 6.39662447257384),
 ('711', 15.784923928077456),
 ('713', 25.359066427289047),
 ('714', 9.114583333333334),
 ('719', 33.05555555555556),
 ('726', 15.072016460905349),
 ('728', 4.6848381601362865),
 ('729', 10.451739618406284),
 ('730', 22.52456538170824),
 ('731', 28.22136563876652),
 ('732', 27.620967741935484),
 ('734', 21.333333333333332),
 ('735', 22.483333333333334),
 ('739', 19.833333333333332),
 ('740', 14.46968600781363),
 ('741', 23.12091503267974),
 ('746', 24.50980392156863),
 ('748', 18.043405114401075),
 ('749', 14.674960574732784),
 ('750', 19.14998764516926),
 ('751', 62.0),
 ('753', 18.840579710144926),
 ('754', 20.833333333333332),
 ('755', 21.669575334496802),
 ('758', 16.660970608339028),
 ('759', 26.162790697674417),
 ('761', 11.24031007751938),
 ('764', 16.574074074074073),
 ('765', 15.160709206409406),
 ('766', 6.087824351297405),
 ('768', 6.441717791411043),
 ('769', 13.580630141238553),
 ('773', 16.666666666666668),
 ('774', 18.704766658347893),
 ('775', 18.60176503033646),
 ('776', 15.675057208237986),
 ('777', 11.96625344352617),
 ('781', 7.1),
 ('784', 7.8763127187864646),
 ('785', 6.684491978609626),
 ('788', 7.803006076111289),
 ('789', 12.937595129375952),
 ('793', 12.098501070663811),
 ('794', 16.801075268817204),
 ('795', 7.304347826086956),
 ('798', 11.589403973509933),
 ('800', 15.0306179254036),
 ('803', 18.516752928357395),
 ('804', 22.86143608457658),
 ('807', 4.962121212121212),
 ('808', 16.951268167569108),
 ('809', 21.849102308349956),
 ('810', 21.086206896551722),
 ('811', 16.936164149330292),
 ('817', 33.94634084897342),
 ('818', 33.7888665997994),
 ('821', 28.89624486602777),
 ('822', 30.69526627218935),
 ('826', 20.04529061477816),
 ('827', 24.96029044701611),
 ('828', 29.577048210588583),
 ('832', 14.854885797698781),
 ('836', 12.195121951219512),
 ('837', 14.656144306651635),
 ('838', 15.007130818099313),
 ('841', 13.352979095681002),
 ('842', 17.09613478691774),
 ('843', 19.028846153846153),
 ('844', 19.738751814223512),
 ('845', 21.293113008761228),
 ('847', 21.824286513710128),
 ('848', 23.144371941272432),
 ('850', 11.489100399140312),
 ('851', 18.903063599962753),
 ('855', 19.41007194244604),
 ('856', 17.102272727272727),
 ('858', 15.453370665517983),
 ('859', 8.600141725181988),
 ('860', 17.083333333333332),
 ('861', 18.59722222222222),
 ('863', 21.43347050754458),
 ('864', 20.654288957353657),
 ('865', 19.9780368305457),
 ('866', 22.002524190155658),
 ('867', 28.32579185520362),
 ('869', 18.755555555555556),
 ('870', 13.968253968253968),
 ('871', 17.083228141041825),
 ('872', 21.866687529338133),
 ('874', 23.413333333333334),
 ('876', 19.560439560439562),
 ('877', 21.846153846153847),
 ('878', 32.468996617812856),
 ('879', 31.567080045095828),
 ('882', 22.387180393543066),
 ('884', 15.358207606829886),
 ('888', 27.18805643062594),
 ('890', 11.889159333458155),
 ('891', 17.36111111111111),
 ('892', 24.08550353755833),
 ('893', 39.59183673469388),
 ('895', 13.260530421216849),
 ('896', 10.198011387779383),
 ('899', 8.034489515970998),
 ('903', 8.903998704872915),
 ('904', 14.856307842182172),
 ('905', 10.638297872340425),
 ('906', 25.396825396825395),
 ('907', 35.42977777777778),
 ('908', 7.142857142857143),
 ('909', 14.090909090909092),
 ('910', 12.418836285696274),
 ('911', 18.398458033993343),
 ('913', 17.20317238161885),
 ('916', 23.418893887271764),
 ('917', 23.045136681500317),
 ('918', 19.14744933612858),
 ('919', 21.432496794284667),
 ('921', 23.666666666666668),
 ('923', 10.55858310626703),
 ('926', 25.16881522406384),
 ('928', 14.541666666666666),
 ('931', 11.321428571428571),
 ('937', 15.286249724406556),
 ('938', 17.900778541796896),
 ('940', 13.751169317118803),
 ('941', 14.203233256351039),
 ('944', 7.352941176470588),
 ('946', 2.645775941230487),
 ('951', 16.046153846153846),
 ('952', 18.482905982905983),
 ('954', 17.392178546295366),
 ('955', 13.730803974706413),
 ('958', 24.46115676849124),
 ('961', 21.8834266749637),
 ('963', 15.274504669634284),
 ('964', 20.733814412033745),
 ('965', 14.806852070185172),
 ('967', 18.5650322157912),
 ('968', 21.573864803780562),
 ('969', 33.64204860286551),
 ('974', 57.01754385964912),
 ('976', 56.3564875491481),
 ('977', 11.955465889561383),
 ('981', 17.154376381844195),
 ('983', 18.184814855510382),
 ('984', 12.75626423690205),
 ('985', 19.42886947450776),
 ('988', 19.961299521336183),
 ('989', 16.543941857129195)]

In [328]:
#De los registros analizados el que mayor precio tiene por metro cuadrado es el 568 

año2009.max(lambda x: x[1])

('566', 97.48263888888889)

In [329]:
datos_de_max = año2009.sortBy(lambda x: tofloat(x[1]), ascending = False) 
print('Los registros mas caros ordenados de manera descendente son', datos_de_max.take(10))

Los registros mas caros ordenados de manera descendente son [('566', 97.48263888888889), ('936', 95.38461538461539), ('934', 92.06989247311827), ('464', 76.27865961199295), ('935', 75.06203473945409), ('408', 71.13095238095238), ('407', 70.23809523809524), ('405', 66.66666666666667), ('933', 66.35891517599538), ('403', 66.07142857142857)]

## Media anual por zonas del precio de venta y metros cuadrados

Aquí empleamos el reducebykey para hacerlo por claves en funcion del numero que queramos recuperar del rdd ya que ahorramos muchas lineas de código

In [330]:
pvZonaRL = zonaRL.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
pvZonaRL = pmRL.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]]).map(lambda x: (x[0], x[1][0]/x[1][2], x[1][1]/x[1][2]))
pvZonaRL.take(10)

[('1978', 112000.0, 8930.0),
 ('1920', 113161.29032258065, 6772.129032258064),
 ('1927', 123333.33333333333, 7197.166666666667),
 ('1957', 136050.0, 7068.0),
 ('1940', 118778.54545454546, 6859.363636363636),
 ('1938', 125466.66666666667, 6520.0),
 ('1948', 132111.11111111112, 8596.666666666666),
 ('1928', 138633.33333333334, 8120.0),
 ('1890', 160680.0, 9066.8),
 ('1925', 113547.22222222222, 7013.555555555556)]

In [331]:
pvZonaRM = zonaRM.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
pvZonaRM = pvZonaRM.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]]).map(lambda x: (x[0], x[1][0]/x[1][2], x[1][1]/x[1][2]))
pvZonaRM.take(10)

[('1978', 112000.0, 8930.0),
 ('1920', 113161.29032258065, 6772.129032258064),
 ('1927', 123333.33333333333, 7197.166666666667),
 ('1957', 136050.0, 7068.0),
 ('1940', 118778.54545454546, 6859.363636363636),
 ('1938', 125466.66666666667, 6520.0),
 ('1948', 132111.11111111112, 8596.666666666666),
 ('1928', 138633.33333333334, 8120.0),
 ('1890', 160680.0, 9066.8),
 ('1925', 113547.22222222222, 7013.555555555556)]

In [332]:
pvZonaRH = zonaRH.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
pvZonaRH = pvZonaRH.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]]).map(lambda x: (x[0], x[1][0]/x[1][2], x[1][1]/x[1][2]))
pvZonaRH.take(10)

[('1920', 67500.0, 9800.0),
 ('1928', 76000.0, 9000.0),
 ('1925', 121800.0, 9392.0),
 ('1938', 160000.0, 6300.0),
 ('1911', 130000.0, 8525.0),
 ('1977', 144000.0, 8400.0),
 ('1949', 145000.0, 6270.0),
 ('2002', 190000.0, 8773.0),
 ('1993', 137000.0, 3612.0),
 ('1961', 105000.0, 11622.0)]

## ¿Podrías decirme el total de recaudación de las casas de revistimiento (Mas Vnr Type) de piedra con respecto a las de ladrillo? ¿Hay diferencia significativa

In [333]:
ladrillo = casa_alfa.filter(lambda x: x[9] == 'BrkCmn').map(lambda x: (x[0], x[9], x[28]))
Stones  = casa_alfa.filter(lambda x: x[9] == 'Stone').map(lambda x: (x[0], x[9], x[28]))

In [334]:
precioladrillo = ladrillo.map(lambda x: tofloat(x[2])).sum()
print('el precio medio de las viviendas de ladrillo es de', precioladrillo)

el precio medio de las viviendas de ladrillo es de 3504975.0

In [335]:
preciostone = Stones.map(lambda x: tofloat(x[2])).sum()
print('el precio medio de las viviendas de piedra es de', preciostone, 'la diferencia entre estas últimas es considerable ya que el monto difiere en más de 60 millones de Euros')

el precio medio de las viviendas de piedra es de 65196277.0 la diferencia entre estas últimas es considerable ya que el monto difiere en más de 60 millones de Euros

In [ ]:
#la diferencia proviene de el volumen de venta 25 de ladrillo frente a 250 de piedra, aun así el precio medio de venta de ladrillo es de 140 mil Euros
#frente a 260 mil Euros

## ¿Cuánto son más caras las viviendas con 2 cocinas, con 2 o más plazas de garaje que las que tienen 1 cocina y 1 plaza de garaje? Comparar medias y cuartiles de ambos casos

In [336]:
dos_masdedos = casa_alfa.filter(lambda x: x[18] == '2' and x[21] > '2').map(lambda x: (x[0], x[18], x[21], x[28]))
print('El precio medio de las casa con dos cocinas y mas de dos plazas de garaje es de',dos_masdedos.map(lambda x: tofloat(x[3])).mean(), 'Euros')

El precio medio de las casa con dos cocinas y mas de dos plazas de garaje es de 180611.11111111112 Euros

In [337]:
uno_y_uno = casa_alfa.filter(lambda x: x[18] == '1' and x[21] == '1').map(lambda x: (x[0], x[18], x[21], x[28]))
print('El precio medio de las casa con una cocina y una plaza de garaje es de', uno_y_uno.map(lambda x: tofloat(x[3])).mean(), 'Euros')

El precio medio de las casa con una cocina y una plaza de garaje es de 127367.04161248378 Euros