Nombre:  Manuel Matías Corredoira de Soto
Fecha: 31/01/2021

# TAREA FINAL: Datos de vivienda

<p> El negocio inmobiliario es uno de los motores de la economía de España, el carácter turístico de nuesta península hace que sean muchos los inversores extranjeros que se decidan por buscar una inversión de bajo riesgos en nuestras ciudades costeras o grandes urbes. 
Muchas de estas inversiones se hacen sobre grandes bolsas de inmuebles que deben ser analizados previamente para comprobar la rentabilidad del porfolio </p>

<!-- <p> En este caso vamos a trabajar con una tabla que contienen información de distintos inmuebles repartidos por una zona específica, sus carácterísticas y su precio </p>  -->

Todas las cuestiones se deben realizar sobre el conjunto de casos que representen viviendas ubicadas en zonas residenciales **(alta, media y baja densidad)**

**MUY IMPORTANTE:** En las otras prácticas he detectado colaboraciones involucrando varias personas y he sido flexible aunque a algunos os lo he mencionado en las correcciones, porque al final el trabajo de analista de datos es un trabajo colaborativo. Sin embargo, este trabajo es individual, así que cuidado con las colaboraciones.

Las variables de las que se compone el dataset son:

|NOMBRE VARIABLE|DESCRIPTOR|VALORES|
| --- | --- | --- |
|Order|Variable de identificación|1 a 2930|
|MS Zoning|Zona de ubicación de la vivienda|"A rural, C comercial, FV residencial flotante, I industrial, RH residencial alta densidad, RL residencial baja densidad, RM residencial media densidad"|
|Lot Frontage|Longitud de la fachada en pies||
|Lot Area|Superficie de la vivienda en pies cuadrados||
|Land Contour|Contorno del terreno circundante|"Lvl llano, Bnk Tipo bancal, HLS Ladera, Low Depresión"|
|Land Slope|Tipo de pendiente de la vivienda|" Gtl pendiente suave, Mod pendiente moderada, Sev fuerte pendiente"|
|Overall Qual|Grado de calidad de materiales y acabado de la vivienda|De 1 (Muy pobre) a 10 (Excelente)|
|Year Built|Año de construccion de la vivienda||
|Year Remod/Add|Año de última reforma de la vivienda||
|Mas Vnr Type|Tipo de revestimiento exterior|" BrkCmn Ladrillo normal, BrkFace Ladrillo visto, CBlock Bloque de cemento, None Ninguna, Stone Piedra "|
|Exter Qual|Calidad de revestimiento exterior|"Ex Excelente,Gd Bueno,TA Media,Fa Justo"|
|Bsmt Cond|Estado general del sótano|"Ex Excelente, Gd Bueno, TA Media, Fa Justo, Po Pobre,Ss sin sótano"|
|Total Bsmt SF|Superficie del sótano en pies cuadrados|
|Heating QC|Calidad de la calefacción|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre"|
|Central Air|Aire acondicionado centralizado|"N No Y Sí"|
|Full Bath|Número de baños completo en planta||
|Half Bath|Número de aseos en planta||
|Bedroom AbvGr|Número de dormitorios en planta||
|Kitchen AbvGr|Número de cocinas en planta||
|Kitchen Qual|Calidad de cocinas|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre"|
|TotRms AbvGrd|Número total de habitaciones excluidos los cuartos de baño||
|Garage Cars|Número de plazas de garaje||
|Garage Area|Superficie del garaje|||
|Garage Cond|Estado del garaje|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre,Sg sin garaje"|
|Pool Area|Superficie de la piscina en pies cuadrados|
|Pool QC|Calidad de la piscina|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Sp no hay piscina"|
|Mo Sold|mes de venta||
|Yr Sold|año de venta||
|SalePrice|precio de venta en dólares||

Recomiendo al leer los datos, eliminar espacios de los nombres de las columnas, realiza un pequeño análisis inicial de los mismos. No olvides fijarte en los tipos de variables, que variables pueden tener tipos confundidos y corrige los. Sobre todo, trabaja con las fechas.

**NOTA:** Las tareas complementarias sirven para subir nota. El resto de preguntas valen igual y suman 10 puntos.

## Inicializar y cargar el contexto spark

In [1]:
import pandas as pd                   ##Importamos lo necesario
import  numpy as np
import matplotlib as plt

In [2]:
from pyspark import SparkContext
from pyspark.sql import Row
from pyspark import SQLContext
import datetime
import time
import pyspark.sql.functions as F
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext()

In [4]:
datos = sc.textFile('./data/BDpracticafinalCSV.csv')           #Cargamos los datos
datos.take(3)

['Order;MS Zoning;Lot Frontage;Lot Area;Land Contour;Land Slope;Overall Qual;Year Built;Year Remod/Add;Mas Vnr Type;Exter Qual;Bsmt Cond;Total Bsmt SF;Heating QC;Central Air;Full Bath;Half Bath;Bedroom AbvGr;Kitchen AbvGr;Kitchen Qual;TotRms AbvGrd;Garage Cars;Garage Area;Garage Cond;Pool Area;Pool QC;Mo Sold;Yr Sold;SalePrice',
 '1;RL;141;31770;Lvl;Gtl;6;1960;1960;Stone;TA;Gd;1080;Fa;Y;1;0;3;1;TA;7;2;528;TA;0;Sp;5;2010;215000',
 '2;RH;80;11622;Lvl;Gtl;5;1961;1961;None;TA;TA;882;TA;Y;1;0;2;1;TA;5;1;730;TA;0;Sp;6;2010;105000']

In [5]:
datos_2 = datos.map(lambda x: x.split(';'))                   #Aplicamos el separador
datos_2.take(3)

[['Order',
  'MS Zoning',
  'Lot Frontage',
  'Lot Area',
  'Land Contour',
  'Land Slope',
  'Overall Qual',
  'Year Built',
  'Year Remod/Add',
  'Mas Vnr Type',
  'Exter Qual',
  'Bsmt Cond',
  'Total Bsmt SF',
  'Heating QC',
  'Central Air',
  'Full Bath',
  'Half Bath',
  'Bedroom AbvGr',
  'Kitchen AbvGr',
  'Kitchen Qual',
  'TotRms AbvGrd',
  'Garage Cars',
  'Garage Area',
  'Garage Cond',
  'Pool Area',
  'Pool QC',
  'Mo Sold',
  'Yr Sold',
  'SalePrice'],
 ['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000'],
 ['2',
  'RH',
  '80',
  '11622',
  'Lvl',
  'Gtl',
  '5',
  '1961',
  '1961',
  'None',
  'TA',
  'TA',
  '882',
  'TA',
  'Y',
  '1',
  '0',
  '2',
  '1',
  'TA',
  '5',
  '1',
  '730',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '105000']]

### encabezado fuera

In [6]:
header = datos_2.first()                                   #Creamos el encabezado para eliminarlo y tratar mejor los datos
datos_3 = datos_2.filter(lambda x: x !=header)
datos_3.take(1)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000']]

In [7]:
def function (x):                                    #Aplicamos una función para juntar los distintos RL
    if x == 'Rl':
        xn = 'RL'
    elif x == 'rL':
        xn='RL'
    else:
        xn = x
    return (xn)

In [8]:
datos_3.map(lambda x:function(x[1])).distinct().collect()    #Comprobamos  que se han unificado

['RL', 'RH', 'C', 'FV', 'RM', 'I', 'A']

In [9]:
def function_2 (x):                                          # Esta para eliminar los espacios en blanco, esta no se usará solo es de muestra 
    if x == '':
        xn = 'no_rev'
    else:
        xn = x
    return (xn)

In [10]:
datos_3.map(lambda x:function_2(x[9])).distinct().collect()  # Comprobamos  de nuevo

['None', 'no_rev', 'CBlock', 'Stone', 'BrkFace', 'BrkCmn']

In [11]:
def function_3 (x):                                          # Realizamos la última con el mismo objetivo que en la anterior
    if x == '':
        xn = 'desconocido'
    else:
        xn = x
    return (xn)

In [12]:
datos_3.map(lambda x:function_3(x[23])).distinct().collect()  # Comprobamos los resultados

['Fa', 'Po', 'desconocido', 'TA', 'Sg', 'Gd', 'Ex']

#### Aplicación

In [13]:
datos_4 = datos_3.map(lambda x: x).map(lambda x: function(x))   #Aplicamos las funciones realizadas antes sobra la base de datos

In [14]:
datos_4 = datos_3.map(lambda x: x).map(lambda x: function_2(x))

## Cuántas viviendas distintas encontramos en el dataset? ¿Se repite alguna? Tiene sentido que haya duplicadas? ¿Qué podemos hacer con las duplicadas?

A continuación compobamos si los datos pertenecientes a cada inmueble coinciden

In [15]:
datos_4.map(lambda x:x[0]).count()                  # Contamos las casas observadas

2936

In [16]:
datos_4.map(lambda x:x[0]).distinct().count()       # Las que son distintas

2930

Podemos comprobar que respecto al total de las observaciones de la base hay una diferencia de 6, que son los bienes inmuebles que se encuentran duplicados.
Para este caso se considera que tienen sentido su presencia dado que se podrían tratar de casas en las que se ha realizado más de una operación de venta. Sin embargo no deja de resultar extraño que se den coincidencias también incluso en su precio de venta

## ¿Podrías decirme el total de inmuebles y el precio medio (Sale Price) de cada zona (MS Zoning)?

In [17]:
grupo_zonas = datos_4.groupBy(lambda x: (x[1]))                       # Filtramos por zonas
grupo_zonas_RL = datos_4.filter(lambda x:x[1]=='RL')
grupo_zonas_RM = datos_4.filter(lambda x:x[1]=='RM')
grupo_zonas_RH = datos_4.filter(lambda x:x[1]=='RH')

In [18]:
 def tofloat(x):        # Dado que nos resultará necesario transformar datos a float, generamos la función.
        if x in ["", " ","nan","NULL"]: 
            return 0.0
        else:
            return float(x)

#### Sobre todos los bienes inmuebles

In [19]:
datos_4.map(lambda x: tofloat(x[28])).mean()                 # Calcula la media
datos_4.map(lambda x: tofloat(x[28])).sum()                  # Calcula la suma

531174956.0

#### Para RL

In [20]:
grupo_zonas_RL.count()

2271

In [21]:
grupo_zonas_RL.map(lambda x: tofloat(x[28])).mean()          # Calcula la media

191131.80581241753

In [22]:
grupo_zonas_RL.map(lambda x: tofloat(x[28])).sum()           # Calcula la suma

434060331.0

Todas estas cifras para las zonas indicadas las usaremos más tarde para la obtención de más información

#### Para RM

In [23]:
grupo_zonas_RM.count()

462

In [24]:
grupo_zonas_RM.map(lambda x: tofloat(x[28])).mean()          # Calcula la media

126781.39393939397

In [25]:
grupo_zonas_RM.map(lambda x: tofloat(x[28])).sum()           # Calcula la suma

58573004.0

#### Para RH

In [26]:
grupo_zonas_RH.count()

27

In [27]:
grupo_zonas_RH.map(lambda x: tofloat(x[28])).mean()          # Calcula la media

136419.77777777778

In [28]:
grupo_zonas_RH.map(lambda x: tofloat(x[28])).sum()           # Calcula la suma

3683334.0

## Media de Total Bsmt SF por cada década de construcción calculada a partir de Year Built. 
## ¿Cuál es la decada de construcción con viviendas mejor acondicionadas para el frío (Heating QC)?

En primer lugar buscamos el primer y el último año en los que se han realizado los bienes

In [29]:
datos_4.map(lambda x:x[7]).min()                  # El primer año registrado

'1872'

In [30]:
datos_4.map(lambda x:x[7]).max()                   # El último año registrado

'2010'

#### Filtramos los bienes realizados en intervalos de 10 años para poder hacer los cáculos pertinentes.

In [31]:
decade_1882 = datos_4.filter(lambda x:'1872'<= x[7] < '1882').map(lambda x: (x[0], x[7], x[12], x[13])) #Filtramos cada 10 años
decade_1892 = datos_4.filter(lambda x:'1882'<= x[7] < '1892').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1902 = datos_4.filter(lambda x:'1892'<= x[7] < '1902').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1912 = datos_4.filter(lambda x:'1902'<= x[7] < '1912').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1922 = datos_4.filter(lambda x:'1912'<= x[7] < '1922').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1932 = datos_4.filter(lambda x:'1922'<= x[7] < '1932').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1942 = datos_4.filter(lambda x:'1932'<= x[7] < '1942').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1952 = datos_4.filter(lambda x:'1942'<= x[7] < '1952').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1962 = datos_4.filter(lambda x:'1952'<= x[7] < '1962').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1972 = datos_4.filter(lambda x:'1962'<= x[7] < '1972').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1982 = datos_4.filter(lambda x:'1972'<= x[7] < '1982').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_1992 = datos_4.filter(lambda x:'1982'<= x[7] < '1992').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_2002 = datos_4.filter(lambda x:'1992'<= x[7] < '2002').map(lambda x: (x[0], x[7], x[12], x[13]))
decade_2012 = datos_4.filter(lambda x:'2002'<= x[7] < '2012').map(lambda x: (x[0], x[7], x[12], x[13]))

#### Solicitamos la media para cada década de la superficie en pies cuadrados

In [32]:
print('1ª DÉCADA:',decade_1882.map(lambda x: tofloat(x[2])).mean()     # Cálculo de cada media
     ,'2ª DÉCADA:',decade_1892.map(lambda x: tofloat(x[2])).mean()
     ,'3ª DÉCADA:',decade_1902.map(lambda x: tofloat(x[2])).mean()                
     ,'4ª DÉCADA:',decade_1912.map(lambda x: tofloat(x[2])).mean()
     ,'5ª DÉCADA:',decade_1922.map(lambda x: tofloat(x[2])).mean()
     ,'6ª DÉCADA:',decade_1932.map(lambda x: tofloat(x[2])).mean()
     ,'7ª DÉCADA:',decade_1942.map(lambda x: tofloat(x[2])).mean())

1ª DÉCADA: 829.625 2ª DÉCADA: 803.8 3ª DÉCADA: 740.8974358974357 4ª DÉCADA: 714.622641509434 5ª DÉCADA: 793.4626865671642 6ª DÉCADA: 837.9068322981368 7ª DÉCADA: 779.3259259259262

In [33]:
print('8ª DÉCADA:',decade_1952.map(lambda x: tofloat(x[2])).mean()      # Continuamos
     ,'9ª DÉCADA:',decade_1962.map(lambda x: tofloat(x[2])).mean()
     ,'10ª DÉCADA:',decade_1972.map(lambda x: tofloat(x[2])).mean()                
     ,'11ª DÉCADA:',decade_1982.map(lambda x: tofloat(x[2])).mean()
     ,'12ª DÉCADA:',decade_1992.map(lambda x: tofloat(x[2])).mean()
     ,'13ª DÉCADA:',decade_2002.map(lambda x: tofloat(x[2])).mean()
     ,'14ª DÉCADA:',decade_2012.map(lambda x: tofloat(x[2])).mean())

8ª DÉCADA: 708.6824324324323 9ª DÉCADA: 1016.4957746478873 10ª DÉCADA: 1038.4986376021795 11ª DÉCADA: 979.0280373831772 12ª DÉCADA: 1122.3478260869565 13ª DÉCADA: 1125.6211340206185 14ª DÉCADA: 1330.283475783477

###  Pasamos a la década con más casas mejor condicionadas

In [34]:
cal_1882 = decade_1882.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))   # Lo realizamos para la calefacción
cal_1892 = decade_1892.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1902 = decade_1902.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1912 = decade_1912.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1922 = decade_1922.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1932 = decade_1932.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1942 = decade_1942.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1952 = decade_1952.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1962 = decade_1962.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1972 = decade_1972.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1982 = decade_1982.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_1992 = decade_1892.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_2002 = decade_2002.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))
cal_2012 = decade_2012.filter(lambda x: x[3]=='Ex').map(lambda x: (x[0], x[1], x[2], x[3]))

Impresión de los conteos

In [35]:
print('1ª DÉCADA:',cal_1882.count(),                           
     '2ª DÉCADA:',cal_1892.count(),
     '3ª DÉCADA:',cal_1902.count(),
     '4ª DÉCADA:',cal_1912.count(),
     '5ª DÉCADA:',cal_1912.count(),
     '6ª DÉCADA:',cal_1932.count(),
     '7ª DÉCADA:',cal_1942.count(),
     '8ª DÉCADA:',cal_1952.count(),
     '9ª DÉCADA:',cal_1962.count(),
     '10ª DÉCADA:',cal_1972.count(),
     '11ª DÉCADA:',cal_1982.count(),
     '12ª DÉCADA:',cal_1992.count(),
     '13ª DÉCADA:',cal_2002.count(),
     '14ª DÉCADA:',cal_2012.count(),)

1ª DÉCADA: 2 2ª DÉCADA: 2 3ª DÉCADA: 13 4ª DÉCADA: 15 5ª DÉCADA: 15 6ª DÉCADA: 46 7ª DÉCADA: 53 8ª DÉCADA: 43 9ª DÉCADA: 103 10ª DÉCADA: 88 11ª DÉCADA: 54 12ª DÉCADA: 2 13ª DÉCADA: 324 14ª DÉCADA: 674

Se puede comprobar como  a medida que transcurren los años los inmuebles mejor condicionados aumentan de forma muy marcada. Hasta el punto que en la última decada registrada casi se dobla el número de casas condicionadas como Excelentes, haciendo de esta, la decada con más casas mejor condicionadas.

## ¿Cuáles son las 10 viviendas que se vendieron por un precio más elevado por metro cuadrado en el año 2009?

Se filtra por año. Se divide p de venta por la superficie y se anexiona al número de observación.

In [36]:
año_2009 = datos_4.filter(lambda x: x[27] == '2009').map(lambda x: (x[0],(tofloat(x[28])/tofloat(x[3])))).reduceByKey(lambda a,b:a + b)

datos_max = año_2009.sortBy(lambda x: tofloat(x[1]), ascending = False) 
datos_max.take(5)

[('566', 97.48263888888889),
 ('936', 95.38461538461539),
 ('934', 92.06989247311827),
 ('464', 76.27865961199295),
 ('935', 75.06203473945409)]

## Media anual por zonas del precio de venta y metros cuadrados.

Operamos de mmodo parecido pero para obtener las medias

#### Medias anuales para RL

In [37]:
media_anual_venta_RL = grupo_zonas_RL.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
media_anual_venta_RL = media_anual_venta_RL.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]])
media_anual_venta_RL = media_anual_venta_RL.sortBy(lambda x: tofloat(x[0]), ascending=False)
media_anual_venta_RL.take(5)

[('2010', [581432.0, 18754.0, 2]),
 ('2009', [4622756.0, 173506.0, 15]),
 ('2008', [12946411.0, 534783.0, 39]),
 ('2007', [24463323.0, 976197.0, 90]),
 ('2006', [30015092.0, 1244930.0, 113])]

#### Medias anuales para  RM

In [38]:
media_anual_venta_RM = grupo_zonas_RM.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
media_anual_venta_RM = media_anual_venta_RM.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]])
media_anual_venta_RM = media_anual_venta_RM.sortBy(lambda x: tofloat(x[0]), ascending=False)
media_anual_venta_RM.take(5)

[('2008', [535500.0, 15423.0, 2]),
 ('2007', [524464.0, 7686.0, 2]),
 ('2006', [610000.0, 10318.0, 2]),
 ('2005', [1236000.0, 27798.0, 7]),
 ('2004', [3590930.0, 78054.0, 20])]

#### Media anual precio en RH

In [39]:
media_anual_venta_RH = grupo_zonas_RH.map(lambda x: (x[7], [tofloat(x[28]), tofloat(x[3]), 1]))
media_anual_venta_RH = media_anual_venta_RH.reduceByKey(lambda x,y: [x[0]+y[0], x[1]+y[1], x[2]+y[2]])
media_anual_venta_RH = media_anual_venta_RH.sortBy(lambda x: tofloat(x[0]), ascending=False)
media_anual_venta_RH.take(5)

[('2002', [190000.0, 8773.0, 1]),
 ('2001', [155000.0, 4113.0, 1]),
 ('1999', [184000.0, 5858.0, 1]),
 ('1998', [314000.0, 8118.0, 2]),
 ('1997', [177000.0, 10943.0, 1])]

## ¿Podrías decirme el total de recaudación de las casas de revistimiento (Mas Vnr Type) de piedra con respecto a las de ladrillo? ¿Hay diferencia significativa?

Filtramos los bienes por revestimiento de ladrillo y piedra

In [40]:
ladrillo = datos_4.filter(lambda x : x[9]=='BrkCmn').map(lambda x:(x[28],x[0]))
piedra = datos_4.filter(lambda x : x[9]=='Stone').map(lambda x:(x[28],x[0]))

Se realiza la suma de los p de venta de las casas de cada grupo.

In [41]:
total_ladrillo = ladrillo.map(lambda x: tofloat(x[0]))
total_ladrillo.sum()

3504975.0

In [42]:
total_piedra = piedra.map(lambda x: tofloat(x[0]))
total_piedra.sum()

65196277.0

Podemos comprobar que la totalidad de las cifras de dinero obtenidas con ventas de las casas con revestimiento de piedra han movido una cantidad sustancialmente superior de dinero en comparación con las de ladrillo teniendo en cuenta que la cifra de las primeras casii alcanza el doble del de las segundas.

## ¿Cuánto son más caras las viviendas con 2 cocinas, con 2 o más plazas de garaje que las que tienen 1 cocina y 1 plaza de garaje? Comparar medias y cuartiles de ambos casos

1º Realizamos la comparativa de medias en los precios

In [43]:
g2_c2 = datos_4.filter(lambda x: x[18] == '2' and x[21] > '2').map(lambda x: (x[0], x[18], x[21], x[28]))
g2_c2.map(lambda x: tofloat(x[3])).mean()

180611.11111111112

In [44]:
g1_c1 = datos_4.filter(lambda x: x[18] == '1' and x[21] == '1').map(lambda x: (x[0], x[18], x[21], x[28]))
g1_c1.map(lambda x: tofloat(x[3])).mean()

127367.04161248378

## (COMPLEMENTARIA) Estudiar la relación entre el precio y el número de Garajes. (Recomiendo segmentar precio por cuartiles y estudiar el número de casos coincidentes)

## (COMPLEMENTARIA) Las 10 viviendas con mejores servicios y mejor precio.

### Pista:
#### Calcula las variables: 
- Número de servicios excelentes
- Número de servicios buenos
...

#### Tendréis que tener en cuenta también variables como número de baños Full Bath, cocinas Kitchen AbvGr o dormitorios Bedroom AbvGr. Generando por ejemplo (número de estas variables por encima de media)

#### Finalmente precio de venta